/*
 * Made by Andrew and Danny
 *
 *
 *
 */


/* *******************
	HERO SECTION
   ******************* */

body {
	font-size: 16px;
}

#hero-section, .footer, .copyright-footer {
	background-color: #2c3e50;
}

#hero-section h1, h4 {
	color: white;
}

.title {
	padding-bottom: 10px;
}

#vinyl-icon {
	height: 286px;
    width: 320px;
    bottom: 0;
	background: url("../images/vinyl_icon.png") no-repeat center bottom;
	background-size: 320px 286px;
}

#download-link {
	padding-top:20px;
}

#download-link a {
}

@media (max-width:991px) {
		/* when the record goes under the 
		description on the top */

	.top-section-words {
		text-align: center;
	}

	#download-link {
		text-align: center;
	}

	#vinyl-icon-container {
		padding-top: 150px;
	}

	#vinyl-icon {
		padding-top: 100px;
		margin: 0 auto;
	}

	#top-section-download-btn {
		width: 300px;
		margin-top: 50px;
	}

	#bringing-music-text, .theloop {
		font-size: 40px;
		padding-bottom: 40px;
	}
}

@media (min-width:992px) { 

	/* when the record goes to the right */

	.top-section-words {
		text-align: inherit;
	}

	#download-link {
		text-align: inherit;
	}

	#vinyl-icon-container {
		padding-top: 40px;
		padding-left: 90px;
	}

	#vinyl-icon {
		padding-top: inherit;
		margin: inherit;
	}

	#top-section-download-btn {
		width: inherit;
		margin-top: inherit;
	}

	#bringing-the-music-text, .theloop {
		font-size: 18px;
	}
}

@media (min-width: 751px) {

	#hero-section .container {
		padding-top: 100px;
		padding-bottom: 200px;
	}
}

@media (max-width: 750px) {
	#vinyl-icon {
		margin-top: 0px;
	}

	#hero-section .container {
		padding-top: 80px;
		padding-bottom: 150px;
	}
}

/* *********************
	SMALL QUOTE SECTION
   ********************* */

.quote-section {
	background-color: #EAC324;
}

/* *********************
	BIG PIC SECTION
   ********************* */

.featuredon-section {
	padding: 90px 0px 90px 0px;
}


.featuredon-image {
	margin: 0 auto;
	/*height: 249px;
    width: 520px;*/
    bottom: 0;
}


@media (min-width: 550px) {
	.featuredon-image {
		background-size: 100%;
		height: 283px;
		width: 592px;
	}
}

@media (max-width: 549px) {
	.featuredon-image {
		height: 280px;
		width: 592px;
	}
}


#note-animation {
	background: url("../images/notes-animation.gif") no-repeat left center;
}

@media (min-width: 628px) {
	#note-animation {
		background-size: 100%;
	}
}

@media (max-width: 627px) {
	#note-animation {
		background-size: 592px 283px;
	}
}

@media (max-width: 549px) {
	#note-animation {
		background-size: 100%;
	}
}

@media (min-width: 550px) {
	#note-animation {
		background-size: 600px 284px;
	}
}

/* *********************
	DESCRIPTION SECTION
   ********************* */

#description-div {
	background-color: #44D682;
	padding: 50px 0px 50px 0px;
}

#what-is-twyst {
	margin-bottom: 30px;
}

#twyst-layout-text {
	margin-bottom: 20px;
}

@media (min-width: 992px) {
	#description-div .container .row .col-md-6 {
		padding-top: inherit;
	}
}

@media (max-width: 991px) {
	#description-div .container .row .col-md-6  {
		padding-top: 60px;
	}
}

#treble_clef {
	background: url("../images/Treble_Clef.png") no-repeat left center;
	height: 249px;
    width: 520px;
    background-size: 520px 249px;
}

#bass_clef {
	background: url("../images/Bass_Clef.png") no-repeat left center;
	height: 249px;
    width: 520px;
    background-size: 520px 249px;

}

/* ***********
	AUDIENCE
   *********** */

#audience-container {
	padding-top: 80px;
	padding-bottom: 100px;
}

#audience-header {
	margin-bottom: 50px;
}

/* **************
	NON-MUSICIAN
   ************** */


#nonmusic-container {
	padding-top: 80px;
	padding-bottom: 100px;
}

#nonmusic-header {
	margin-bottom: 50px;
}

/* ********
	FEATURES
   ******** */

.features-section {
	background-color: #33475A;
}

.features-image {
	margin-top: 100px;
	margin-bottom: 130px;
}

#professional-instrument-image {
	background: url("../images/a-professional-instrument.jpg") no-repeat left center;
	background-size: 600px 284px;
}

#create-beautiful-live-music-image {
	background: url("../images/create-beautiful-live-music.jpg") no-repeat left center;
	background-size: 600px 284px;
}

#play-every-note-image {
	background: url("../images/play-every-note-of-scale.jpg") no-repeat left center;
	background-size: 600px 284px;
}

#shake-for-realistic-vibrato-image {
	background: url("../images/shake-for-realistic-vibrato.jpg") no-repeat left center;
	background-size: 600px 284px;
}

#twist-to-jump-up-octave-image {
	background: url("../images/twist-to-jump-up-octave.jpg") no-repeat left center;
	background-size: 600px 284px;
}

@media (min-width:992px) { 
	.tilt-right {
		margin-left: 40%;
	}

	.tilt-left {
		margin-right: 40%;
	}
}

@media (max-width:991px) { 
	.tilt-right {
		margin-left: 10%;
	}

	.tilt-left {
		margin-right: 10%;
	}
}

/* ********
	VIDEO
   ******** */

#video-container {
	padding-top: 80px;
	padding-bottom: 100px;
}

#video-div {
	margin-top: 50px;

	background: url("../images/TwystScreenshot.jpg") no-repeat left center;
	background-size: 520px 249px;
}

/* ********
	FOOTER
   ******** */

.footer, .copyright-footer {
	padding: 30px 0px 30px 0px;
	color: white;
}

#footer-image {
	height: 50px;
    width: 180px;
    margin-left: -20px;
}


/* ****************
	MOBILE FRIENDLY
   **************** */

@media (min-width: 628px) {
	/* not mobile */

	.image {
    	width: 600px;
	}

	.text-container {
		padding-left: inherit;
		padding-right: inherit;
	}
}

@media (max-width: 627px) {
	/* mobile */

	.image {
		width: 100%
	}

	.text-container {
		padding-left: 60px;
		padding-right: 60px;
	}
}