/*
 * Made by Andrew and Danny
 *
 *
 *
 */


/* *******************
	HERO SECTION
   ******************* */
#hero-section {
	background-color: #2c3e50;
}

#hero-section h1, h4 {
	color: white;
}

#vinyl-icon {
	height: 286px;
    width: 320px;
    bottom: 0;
	background: url("../images/vinyl_icon.png") no-repeat center bottom;
	background-size: 320px 286px;

}

@media (min-width: 550px) {
	#vinyl-icon {
		margin-top: -40px;
		margin: 0 auto;
	}

	#hero-section .container {
		padding-top: 150px;
		padding-bottom: 150px;
	}
}

@media (max-width: 549px) {
	#vinyl-icon {
		margin: inherit;
		margin-top: 40px;
	}

	#hero-section .container {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

/* *********************
	SMALL QUOTE SECTION
   ********************* */

.quote-section {
	background-color: #f1c40f;
}

/* *********************
	BIG PIC SECTION
   ********************* */

.featuredon-section {
	padding: 90px 0px 90px 0px;
}

.featuredon-image {
	margin: 0 auto;
	height: 249px;
    width: 520px;
    bottom: 0;
	background: url("../images/TwystScreenshot.jpg") no-repeat left center;
	background-size: 520px 249px;
	}